<div class="dojo panel panel-default">
  <div class="panel-heading">
    <h3>{{dojo.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-7">
        <h4>{{dojo.phone}}</h4>
        <h4>Address:</h4>
        <h5>{{dojo.street}}</h5>
        <h5>{{dojo.state}}</h5>
        <h5>{{dojo.zip}}</h5>

        <button class="btn btn-primary" {{action 'toggleUpdateForm'}}>Update</button>
        <button class="btn btn-danger" {{action 'deleteDojo' dojo}}><span class="glyphicon glyphicon-trash"></button>
      </div>
      <div class="col-sm-5">
        <img src="{{dojo.image}}" alt="{{dojo.name}}" />
      </div>
    </div>
    {{update-dojo updateDojo='updateDojo' dojo=dojo updateShowing=updateShowing }}
  </div>
</div>
