<div class="dojo panel panel-default">
  <div class="panel-heading">
    <h3>{{dojo.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-7">
        <h4>{{dojo.phone}}</h4>
        <h4>Address:</h4>
        <h5>{{address}}</h5>

      </div>
      <div class="col-sm-5">
        <img src="{{dojo.image}}" alt="{{dojo.name}}" />
      </div>

    </div>
  </div>
</div>
